body{
    font-family: "Lato", sans-serif;
    color: #2d3c49;
    font-weight: 400;
}

.text-muted{
    color: #7d97ad;
}

.text-thin{
    font-weight: 100;
}

.title-super{
    font-size: 45px;
}

.title-logo{
    margin-top: 30px;
}

@media only screen and (max-width: 350px){
    .title-super{
        font-size: 25px;
    }
}